{
    languages = (
        {
            name = "Chinese Prototype";
            
            script = Chinese;
            subGroup = (
                {
                    name = "Base Characters";
                    coverage = (
                        "uni4E09",
                        "uni529B",
                        "uni56FD",
                        "uni570B",
                        "uni5B50",
                        "uni5B89",
                        "uni611B",
                        "uni66F8",
                        "uni6771",
                        "uni68EE",
                        "uni6C38",
                        "uni888B",
                        "uni916C",
                        "uni9B31",
                        "uni9DF9",
                    );
                },
                {
                    name = "Trad Chinese 500 Common characters";
                    coverage = (
                        "uni4E00",
                        "uni4E03",
                        "uni4E09",
                        "uni4E0A",
                        "uni4E0B",
                        "uni4E0D",
                        "uni4E14",
                        "uni4E16",
                        "uni4E26",
                        "uni4E2D",
                        "uni4E3B",
                        "uni4E4B",
                        "uni4E5D",
                        "uni4E5F",
                        "uni4E86",
                        "uni4E8B",
                        "uni4E8C",
                        "uni4E94",
                        "uni4E9B",
                        "uni4EA4",
                        "uni4EAC",
                        "uni4EBA",
                        "uni4EC0",
                        "uni4ECA",
                        "uni4ED6",
                        "uni4EE3",
                        "uni4EE5",
                        "uni4EF6",
                        "uni4EFB",
                        "uni4F46",
                        "uni4F4D",
                        "uni4F4E",
                        "uni4F4F",
                        "uni4F55",
                        "uni4F5C",
                        "uni4F60",
                        "uni4F7F",
                        "uni4F86",
                        "uni4F8B",
                        "uni4FBF",
                        "uni4FDD",
                        "uni4FE1",
                        "uni500B",
                        "uni5011",
                        "uni5019",
                        "uni503C",
                        "uni505A",
                        "uni5099",
                        "uni50B3",
                        "uni50F9",
                        "uni5143",
                        "uni5148",
                        "uni5149",
                        "uni514B",
                        "uni5152",
                        "uni5165",
                        "uni5167",
                        "uni5168",
                        "uni5169",
                        "uni516B",
                        "uni516C",
                        "uni516D",
                        "uni5171",
                        "uni5176",
                        "uni5177",
                        "uni518D",
                        "uni51FA",
                        "uni5206",
                        "uni5207",
                        "uni5217",
                        "uni5225",
                        "uni5229",
                        "uni5230",
                        "uni5236",
                        "uni5247",
                        "uni524D",
                        "uni5283",
                        "uni529B",
                        "uni52A0",
                        "uni52D5",
                        "uni52D9",
                        "uni52DE",
                        "uni5305",
                        "uni5316",
                        "uni5317",
                        "uni5340",
                        "uni5341",
                        "uni5343",
                        "uni534A",
                        "uni5357",
                        "uni5373",
                        "uni537B",
                        "uni539F",
                        "uni53BB",
                        "uni53C3",
                        "uni53C8",
                        "uni53CA",
                        "uni53CD",
                        "uni53D6",
                        "uni53D7",
                        "uni53E3",
                        "uni53EA",
                        "uni53EB",
                        "uni53EF",
                        "uni53F2",
                        "uni5404",
                        "uni5408",
                        "uni540C",
                        "uni540D",
                        "uni5411",
                        "uni547D",
                        "uni548C",
                        "uni54C1",
                        "uni54E1",
                        "uni5546",
                        "uni554F",
                        "uni55AE",
                        "uni5668",
                        "uni56B4",
                        "uni56DB",
                        "uni56DE",
                        "uni56E0",
                        "uni570B",
                        "uni5713",
                        "uni5716",
                        "uni5718",
                        "uni571F",
                        "uni5728",
                        "uni5730",
                        "uni578B",
                        "uni57FA",
                        "uni5831",
                        "uni5834",
                        "uni589E",
                        "uni58D3",
                        "uni590D",
                        "uni5916",
                        "uni591A",
                        "uni5927",
                        "uni5929",
                        "uni592A",
                        "uni5979",
                        "uni597D",
                        "uni5982",
                        "uni59CB",
                        "uni59D4",
                        "uni5B50",
                        "uni5B58",
                        "uni5B78",
                        "uni5B83",
                        "uni5B89",
                        "uni5B8C",
                        "uni5B9A",
                        "uni5BB6",
                        "uni5BB9",
                        "uni5BE6",
                        "uni5BEB",
                        "uni5C07",
                        "uni5C08",
                        "uni5C0D",
                        "uni5C0E",
                        "uni5C0F",
                        "uni5C11",
                        "uni5C31",
                        "uni5C40",
                        "uni5C55",
                        "uni5C64",
                        "uni5C6C",
                        "uni5C71",
                        "uni5DE5",
                        "uni5DF1",
                        "uni5DF2",
                        "uni5E02",
                        "uni5E03",
                        "uni5E36",
                        "uni5E38",
                        "uni5E73",
                        "uni5E74",
                        "uni5E79",
                        "uni5E7E",
                        "uni5E9C",
                        "uni5EA6",
                        "uni5EE0",
                        "uni5EE3",
                        "uni5EFA",
                        "uni5F0F",
                        "uni5F15",
                        "uni5F35",
                        "uni5F37",
                        "uni5F62",
                        "uni5F71",
                        "uni5F80",
                        "uni5F88",
                        "uni5F8B",
                        "uni5F8C",
                        "uni5F97",
                        "uni5F9E",
                        "uni5FC3",
                        "uni5FC5",
                        "uni5FD7",
                        "uni5FEB",
                        "uni601D",
                        "uni6027",
                        "uni60C5",
                        "uni60F3",
                        "uni610F",
                        "uni611F",
                        "uni61C9",
                        "uni6210",
                        "uni6211",
                        "uni6216",
                        "uni6230",
                        "uni6240",
                        "uni624B",
                        "uni624D",
                        "uni6253",
                        "uni6280",
                        "uni628A",
                        "uni62C9",
                        "uni6301",
                        "uni6307",
                        "uni6309",
                        "uni63A1",
                        "uni63A5",
                        "uni63D0",
                        "uni64DA",
                        "uni652F",
                        "uni6536",
                        "uni6539",
                        "uni653E",
                        "uni653F",
                        "uni6548",
                        "uni6559",
                        "uni6574",
                        "uni6578",
                        "uni6587",
                        "uni6599",
                        "uni65AF",
                        "uni65B0",
                        "uni65B7",
                        "uni65B9",
                        "uni65BC",
                        "uni65CF",
                        "uni65E5",
                        "uni660E",
                        "uni6613",
                        "uni662F",
                        "uni6642",
                        "uni66F4",
                        "uni66F8",
                        "uni6700",
                        "uni6703",
                        "uni6708",
                        "uni6709",
                        "uni671F",
                        "uni672C",
                        "uni6771",
                        "uni6797",
                        "uni679C",
                        "uni67E5",
                        "uni6839",
                        "uni683C",
                        "uni689D",
                        "uni696D",
                        "uni6975",
                        "uni69CB",
                        "uni6A19",
                        "uni6A23",
                        "uni6A5F",
                        "uni6B0A",
                        "uni6B21",
                        "uni6B63",
                        "uni6B64",
                        "uni6B65",
                        "uni6B77",
                        "uni6BB5",
                        "uni6BCF",
                        "uni6BD4",
                        "uni6BDB",
                        "uni6C11",
                        "uni6C23",
                        "uni6C34",
                        "uni6C42",
                        "uni6C5F",
                        "uni6C7A",
                        "uni6C92",
                        "uni6CB9",
                        "uni6CBB",
                        "uni6CC1",
                        "uni6CD5",
                        "uni6D3B",
                        "uni6D3E",
                        "uni6D41",
                        "uni6D77",
                        "uni6D88",
                        "uni6DF1",
                        "uni6E05",
                        "uni6E96",
                        "uni6EAB",
                        "uni6EFF",
                        "uni6FDF",
                        "uni706B",
                        "uni70BA",
                        "uni7121",
                        "uni7136",
                        "uni7167",
                        "uni71B1",
                        "uni722D",
                        "uni7247",
                        "uni7269",
                        "uni7279",
                        "uni72C0",
                        "uni7387",
                        "uni738B",
                        "uni73FE",
                        "uni7406",
                        "uni751F",
                        "uni7522",
                        "uni7528",
                        "uni7531",
                        "uni754C",
                        "uni7576",
                        "uni767C",
                        "uni767D",
                        "uni767E",
                        "uni7684",
                        "uni76EE",
                        "uni76F4",
                        "uni76F8",
                        "uni7701",
                        "uni770B",
                        "uni771F",
                        "uni773C",
                        "uni773E",
                        "uni77E5",
                        "uni77F3",
                        "uni7814",
                        "uni78BA",
                        "uni7926",
                        "uni793A",
                        "uni793E",
                        "uni79D1",
                        "uni7A0B",
                        "uni7A2E",
                        "uni7A31",
                        "uni7A4D",
                        "uni7A76",
                        "uni7A7A",
                        "uni7ACB",
                        "uni7B2C",
                        "uni7B49",
                        "uni7B97",
                        "uni7BA1",
                        "uni7BC0",
                        "uni7C73",
                        "uni7CBE",
                        "uni7CFB",
                        "uni7D04",
                        "uni7D05",
                        "uni7D1A",
                        "uni7D20",
                        "uni7D30",
                        "uni7D44",
                        "uni7D50",
                        "uni7D66",
                        "uni7D71",
                        "uni7D93",
                        "uni7DAD",
                        "uni7DDA",
                        "uni7E23",
                        "uni7E3D",
                        "uni7E54",
                        "uni7F6E",
                        "uni7F8E",
                        "uni7FA4",
                        "uni7FA9",
                        "uni7FD2",
                        "uni8001",
                        "uni8005",
                        "uni800C",
                        "uni806F",
                        "uni8072",
                        "uni807D",
                        "uni80B2",
                        "uni80FD",
                        "uni81EA",
                        "uni81F3",
                        "uni8207",
                        "uni822C",
                        "uni8272",
                        "uni82B1",
                        "uni83EF",
                        "uni842C",
                        "uni8457",
                        "uni8655",
                        "uni865F",
                        "uni884C",
                        "uni8853",
                        "uni8868",
                        "uni88AB",
                        "uni88DD",
                        "uni88E1",
                        "uni897F",
                        "uni8981",
                        "uni898B",
                        "uni898F",
                        "uni89AA",
                        "uni89C0",
                        "uni89D2",
                        "uni89E3",
                        "uni8A08",
                        "uni8A18",
                        "uni8A2D",
                        "uni8A31",
                        "uni8A71",
                        "uni8A72",
                        "uni8A8D",
                        "uni8AAA",
                        "uni8ABF",
                        "uni8AD6",
                        "uni8B49",
                        "uni8B58",
                        "uni8B70",
                        "uni8B8A",
                        "uni8C61",
                        "uni8CC7",
                        "uni8CEA",
                        "uni8D70",
                        "uni8D77",
                        "uni8D8A",
                        "uni8DEF",
                        "uni8EAB",
                        "uni8ECA",
                        "uni8ECD",
                        "uni8F03",
                        "uni8F49",
                        "uni8FA6",
                        "uni8FB2",
                        "uni8FD1",
                        "uni9019",
                        "uni901A",
                        "uni901F",
                        "uni9020",
                        "uni9023",
                        "uni9031",
                        "uni9032",
                        "uni904B",
                        "uni904E",
                        "uni9053",
                        "uni9054",
                        "uni9069",
                        "uni9078",
                        "uni9084",
                        "uni908A",
                        "uni90A3",
                        "uni90E8",
                        "uni90FD",
                        "uni9178",
                        "uni91CD",
                        "uni91CF",
                        "uni91D1",
                        "uni9435",
                        "uni9577",
                        "uni9580",
                        "uni958B",
                        "uni9593",
                        "uni95DC",
                        "uni9662",
                        "uni9664",
                        "uni968A",
                        "uni968E",
                        "uni969B",
                        "uni96C6",
                        "uni96E2",
                        "uni96E3",
                        "uni96FB",
                        "uni9700",
                        "uni9752",
                        "uni975E",
                        "uni9762",
                        "uni9769",
                        "uni97F3",
                        "uni97FF",
                        "uni9808",
                        "uni9818",
                        "uni982D",
                        "uni984C",
                        "uni985E",
                        "uni98A8",
                        "uni98DB",
                        "uni990A",
                        "uni99AC",
                        "uni9A57",
                        "uni9AD4",
                        "uni9AD8",
                        "uni9B25",
                        "uni9EBC",
                        "uni9EDE",
                        "uni9EE8",
                        "uni9F8D",
                    );
                },
                {
                    name = "Simp Chinese 500 Common characters";
                    coverage = (
                        "uni4E00",
                        "uni4E03",
                        "uni4E07",
                        "uni4E09",
                        "uni4E0A",
                        "uni4E0B",
                        "uni4E0D",
                        "uni4E0E",
                        "uni4E13",
                        "uni4E14",
                        "uni4E16",
                        "uni4E1A",
                        "uni4E1C",
                        "uni4E24",
                        "uni4E25",
                        "uni4E2A",
                        "uni4E2D",
                        "uni4E3A",
                        "uni4E3B",
                        "uni4E48",
                        "uni4E49",
                        "uni4E4B",
                        "uni4E5D",
                        "uni4E5F",
                        "uni4E60",
                        "uni4E66",
                        "uni4E86",
                        "uni4E89",
                        "uni4E8B",
                        "uni4E8C",
                        "uni4E8E",
                        "uni4E94",
                        "uni4E9B",
                        "uni4EA4",
                        "uni4EA7",
                        "uni4EAC",
                        "uni4EB2",
                        "uni4EBA",
                        "uni4EC0",
                        "uni4ECA",
                        "uni4ECE",
                        "uni4ED6",
                        "uni4EE3",
                        "uni4EE5",
                        "uni4EEC",
                        "uni4EF6",
                        "uni4EF7",
                        "uni4EFB",
                        "uni4F17",
                        "uni4F1A",
                        "uni4F20",
                        "uni4F46",
                        "uni4F4D",
                        "uni4F4E",
                        "uni4F4F",
                        "uni4F53",
                        "uni4F55",
                        "uni4F5C",
                        "uni4F60",
                        "uni4F7F",
                        "uni4F8B",
                        "uni4FBF",
                        "uni4FDD",
                        "uni4FE1",
                        "uni5019",
                        "uni503C",
                        "uni505A",
                        "uni513F",
                        "uni5143",
                        "uni5148",
                        "uni5149",
                        "uni514B",
                        "uni515A",
                        "uni5165",
                        "uni5168",
                        "uni516B",
                        "uni516C",
                        "uni516D",
                        "uni5171",
                        "uni5173",
                        "uni5176",
                        "uni5177",
                        "uni517B",
                        "uni5185",
                        "uni518D",
                        "uni5199",
                        "uni519B",
                        "uni519C",
                        "uni51B3",
                        "uni51B5",
                        "uni51C6",
                        "uni51E0",
                        "uni51FA",
                        "uni5206",
                        "uni5207",
                        "uni5212",
                        "uni5217",
                        "uni5219",
                        "uni5229",
                        "uni522B",
                        "uni5230",
                        "uni5236",
                        "uni524D",
                        "uni529B",
                        "uni529E",
                        "uni52A0",
                        "uni52A1",
                        "uni52A8",
                        "uni52B3",
                        "uni5305",
                        "uni5316",
                        "uni5317",
                        "uni533A",
                        "uni5341",
                        "uni5343",
                        "uni534A",
                        "uni534E",
                        "uni5355",
                        "uni5357",
                        "uni5373",
                        "uni5374",
                        "uni5382",
                        "uni5386",
                        "uni538B",
                        "uni539F",
                        "uni53BB",
                        "uni53BF",
                        "uni53C2",
                        "uni53C8",
                        "uni53CA",
                        "uni53CD",
                        "uni53D1",
                        "uni53D6",
                        "uni53D7",
                        "uni53D8",
                        "uni53E3",
                        "uni53EA",
                        "uni53EB",
                        "uni53EF",
                        "uni53F2",
                        "uni53F7",
                        "uni5404",
                        "uni5408",
                        "uni540C",
                        "uni540D",
                        "uni540E",
                        "uni5411",
                        "uni542C",
                        "uni5458",
                        "uni5468",
                        "uni547D",
                        "uni548C",
                        "uni54C1",
                        "uni54CD",
                        "uni5546",
                        "uni5668",
                        "uni56DB",
                        "uni56DE",
                        "uni56E0",
                        "uni56E2",
                        "uni56FD",
                        "uni56FE",
                        "uni5706",
                        "uni571F",
                        "uni5728",
                        "uni5730",
                        "uni573A",
                        "uni578B",
                        "uni57FA",
                        "uni589E",
                        "uni58F0",
                        "uni5904",
                        "uni5907",
                        "uni590D",
                        "uni5916",
                        "uni591A",
                        "uni5927",
                        "uni5929",
                        "uni592A",
                        "uni5934",
                        "uni5979",
                        "uni597D",
                        "uni5982",
                        "uni59CB",
                        "uni59D4",
                        "uni5B50",
                        "uni5B58",
                        "uni5B66",
                        "uni5B83",
                        "uni5B89",
                        "uni5B8C",
                        "uni5B9A",
                        "uni5B9E",
                        "uni5BB6",
                        "uni5BB9",
                        "uni5BF9",
                        "uni5BFC",
                        "uni5C06",
                        "uni5C0F",
                        "uni5C11",
                        "uni5C31",
                        "uni5C40",
                        "uni5C42",
                        "uni5C55",
                        "uni5C5E",
                        "uni5C71",
                        "uni5DE5",
                        "uni5DF1",
                        "uni5DF2",
                        "uni5E02",
                        "uni5E03",
                        "uni5E26",
                        "uni5E38",
                        "uni5E72",
                        "uni5E73",
                        "uni5E74",
                        "uni5E76",
                        "uni5E7F",
                        "uni5E94",
                        "uni5E9C",
                        "uni5EA6",
                        "uni5EFA",
                        "uni5F00",
                        "uni5F0F",
                        "uni5F15",
                        "uni5F20",
                        "uni5F3A",
                        "uni5F53",
                        "uni5F62",
                        "uni5F71",
                        "uni5F80",
                        "uni5F88",
                        "uni5F8B",
                        "uni5F97",
                        "uni5FC3",
                        "uni5FC5",
                        "uni5FD7",
                        "uni5FEB",
                        "uni601D",
                        "uni6027",
                        "uni603B",
                        "uni60C5",
                        "uni60F3",
                        "uni610F",
                        "uni611F",
                        "uni6210",
                        "uni6211",
                        "uni6216",
                        "uni6218",
                        "uni6240",
                        "uni624B",
                        "uni624D",
                        "uni6253",
                        "uni6280",
                        "uni628A",
                        "uni62A5",
                        "uni62C9",
                        "uni6301",
                        "uni6307",
                        "uni6309",
                        "uni636E",
                        "uni63A5",
                        "uni63D0",
                        "uni652F",
                        "uni6536",
                        "uni6539",
                        "uni653E",
                        "uni653F",
                        "uni6548",
                        "uni6559",
                        "uni6570",
                        "uni6574",
                        "uni6587",
                        "uni6597",
                        "uni6599",
                        "uni65AD",
                        "uni65AF",
                        "uni65B0",
                        "uni65B9",
                        "uni65CF",
                        "uni65E0",
                        "uni65E5",
                        "uni65F6",
                        "uni660E",
                        "uni6613",
                        "uni662F",
                        "uni66F4",
                        "uni6700",
                        "uni6708",
                        "uni6709",
                        "uni671F",
                        "uni672C",
                        "uni672F",
                        "uni673A",
                        "uni6743",
                        "uni6761",
                        "uni6765",
                        "uni6781",
                        "uni6784",
                        "uni6797",
                        "uni679C",
                        "uni67E5",
                        "uni6807",
                        "uni6837",
                        "uni6839",
                        "uni683C",
                        "uni6B21",
                        "uni6B63",
                        "uni6B64",
                        "uni6B65",
                        "uni6BB5",
                        "uni6BCF",
                        "uni6BD4",
                        "uni6BDB",
                        "uni6C11",
                        "uni6C14",
                        "uni6C34",
                        "uni6C42",
                        "uni6C5F",
                        "uni6CA1",
                        "uni6CB9",
                        "uni6CBB",
                        "uni6CD5",
                        "uni6D3B",
                        "uni6D3E",
                        "uni6D41",
                        "uni6D4E",
                        "uni6D77",
                        "uni6D88",
                        "uni6DF1",
                        "uni6E05",
                        "uni6E29",
                        "uni6EE1",
                        "uni706B",
                        "uni70B9",
                        "uni70ED",
                        "uni7136",
                        "uni7167",
                        "uni7247",
                        "uni7269",
                        "uni7279",
                        "uni72B6",
                        "uni7387",
                        "uni738B",
                        "uni73B0",
                        "uni7406",
                        "uni751F",
                        "uni7528",
                        "uni7531",
                        "uni7535",
                        "uni754C",
                        "uni767D",
                        "uni767E",
                        "uni7684",
                        "uni76EE",
                        "uni76F4",
                        "uni76F8",
                        "uni7701",
                        "uni770B",
                        "uni771F",
                        "uni773C",
                        "uni7740",
                        "uni77E5",
                        "uni77F3",
                        "uni77FF",
                        "uni7814",
                        "uni786E",
                        "uni793A",
                        "uni793E",
                        "uni79BB",
                        "uni79CD",
                        "uni79D1",
                        "uni79EF",
                        "uni79F0",
                        "uni7A0B",
                        "uni7A76",
                        "uni7A7A",
                        "uni7ACB",
                        "uni7B2C",
                        "uni7B49",
                        "uni7B97",
                        "uni7BA1",
                        "uni7C73",
                        "uni7C7B",
                        "uni7CBE",
                        "uni7CFB",
                        "uni7D20",
                        "uni7EA2",
                        "uni7EA6",
                        "uni7EA7",
                        "uni7EBF",
                        "uni7EC4",
                        "uni7EC6",
                        "uni7EC7",
                        "uni7ECF",
                        "uni7ED3",
                        "uni7ED9",
                        "uni7EDF",
                        "uni7EF4",
                        "uni7F6E",
                        "uni7F8E",
                        "uni7FA4",
                        "uni8001",
                        "uni8005",
                        "uni800C",
                        "uni8054",
                        "uni80B2",
                        "uni80FD",
                        "uni81EA",
                        "uni81F3",
                        "uni822C",
                        "uni8272",
                        "uni8282",
                        "uni82B1",
                        "uni884C",
                        "uni8868",
                        "uni88AB",
                        "uni88C5",
                        "uni897F",
                        "uni8981",
                        "uni89C1",
                        "uni89C2",
                        "uni89C4",
                        "uni89D2",
                        "uni89E3",
                        "uni8BA1",
                        "uni8BA4",
                        "uni8BAE",
                        "uni8BB0",
                        "uni8BB8",
                        "uni8BBA",
                        "uni8BBE",
                        "uni8BC1",
                        "uni8BC6",
                        "uni8BDD",
                        "uni8BE5",
                        "uni8BF4",
                        "uni8C03",
                        "uni8C61",
                        "uni8D28",
                        "uni8D44",
                        "uni8D70",
                        "uni8D77",
                        "uni8D8A",
                        "uni8DEF",
                        "uni8EAB",
                        "uni8F66",
                        "uni8F6C",
                        "uni8F83",
                        "uni8FB9",
                        "uni8FBE",
                        "uni8FC7",
                        "uni8FD0",
                        "uni8FD1",
                        "uni8FD8",
                        "uni8FD9",
                        "uni8FDB",
                        "uni8FDE",
                        "uni9002",
                        "uni9009",
                        "uni901A",
                        "uni901F",
                        "uni9020",
                        "uni9053",
                        "uni90A3",
                        "uni90E8",
                        "uni90FD",
                        "uni9178",
                        "uni91C7",
                        "uni91CC",
                        "uni91CD",
                        "uni91CF",
                        "uni91D1",
                        "uni94C1",
                        "uni957F",
                        "uni95E8",
                        "uni95EE",
                        "uni95F4",
                        "uni961F",
                        "uni9636",
                        "uni9645",
                        "uni9662",
                        "uni9664",
                        "uni96BE",
                        "uni96C6",
                        "uni9700",
                        "uni9752",
                        "uni975E",
                        "uni9762",
                        "uni9769",
                        "uni97F3",
                        "uni987B",
                        "uni9886",
                        "uni9898",
                        "uni98CE",
                        "uni98DE",
                        "uni9A6C",
                        "uni9A8C",
                        "uni9AD8",
                        "uni9F99",
                    );
                },
            );
        },
    );
}